version: "3.9"

services:
  web:
    image: php:8.2-apache
    container_name: lamp_web
    volumes:
      - ./www:/var/www/html
    ports:
      - "8080:80"
  
  db:
    image: mysql:8
    container_name: lamp_db
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
\
